torch>=2.1.2
transformers
ffmpeg
ffmpeg-python
timm
datasets
evaluate
scikit-learn
pandas
peft
accelerate
autoawq
optimum
auto-gptq
bitsandbytes>0.39.0
jiwer
soundfile>=0.12.1
librosa
langchain
gradio